#imagem-fundo {
    /* Define a imagem de fundo */
    background-image: url('img/fundo-moedas-desfocado.png');
    display: flex;
    flex-direction: column; /* Alinha os itens em uma coluna */
    justify-content: space-between; /* Distribui o espaço verticalmente */
    height: 100vh; /* Garante que o corpo ocupe toda a altura da janela do navegador */
}

#title, #resultado {
    color: #ccc;
}

#container {
    margin-top: 50px;
    border: 1.8px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    box-shadow: 5px 5px 10px 7px rgba(0, 0, 0, 0.507);
    margin-left: auto;
    margin-right: auto;
    position: relative; /* Adicionando posicionamento relativo */
    font-family:'Times New Roman', Times, serif
}

input, select {
    padding: 6px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

#botao-inverter, #botao-converter {
    padding: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(109, 243, 0, 0.452);
    border-radius: 4px;
    border-color: #ffffff41;
    border-width: 2px;
}

#botao-limpar {
    padding: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(221, 15, 15, 0.507);
    border-radius: 4px;
    border-color: #ffffff41;
    border-width: 2px;
}

#mensagem-usuario{
    margin: auto;
    width: 25%;
    text-align: center;
    background-color: #aaa;
    margin-bottom: 20px;
    border: 1.8px solid #ccc;
    border-radius: 5px;
}

#botao-aceita-mensagem{
    margin-top: 3px;
    margin-bottom: 10px;
    border-color: #000;
    border-radius: 10px;
}

.oculto {
    display: none;
}

/* Adicionando estilos para as moedas */
.moeda {
    width: 2vw; /* Tamanho relativo à largura da viewport */
    height: 2vw; /* Tamanho relativo à largura da viewport */
    background-color: gold;
    border-radius: 50%;
    position: absolute;
    border: 1px  solid #000;
    top: -3vw; /* Começando do topo da viewport */
    animation: cairMoeda 7s ease; /* Adicionando animação de queda */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

@keyframes cairMoeda {
    10% {
        transform: translateY(-10vh) rotate(0deg); /* Começando a 10% da altura da viewport */
    }
    92% {
        transform: translateY(100vh) rotate(360deg); /* Chegando a 100% da altura da viewport */
    }
    95% {
        transform: translateY(100vh) rotate(720deg);
    }
}

/* Responsividade para dispositivos menores */
@media (max-width: 768px) {
    #container {
        padding: 10px;
    }

    .moeda {
        width: 8vw; /* Ajustando tamanho para dispositivos menores */
        height: 8vw; /* Ajustando tamanho para dispositivos menores */
        top: -12vw; /* Ajustando posição inicial para dispositivos menores */
    }
}

/* Estilo para botões */
button {
    cursor: pointer; /* Altera o cursor para um dedo */
    /* Outros estilos do botão... */
}

/* Estilo para os elementos de seleção de moedas */
select {
    cursor: pointer; /* Altera o cursor para um dedo */
    /* Outros estilos para os elementos de seleção... */
}
