#container {
    margin-top: 50px;
    border: 1.8px solid #ccc;
    padding: 20px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

input, select{
    padding: 6px;
    margin-top: 20px;
    margin-bottom: 20px;
}

button {
    padding: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
}